{% extends 'base.html' %}
{% block body %}
<h1 style="text-align: center;color: red;">Our Contact Details</h1>
<p>Address: 255, Giri Nagar Canal Rd, Giringar Housing Colony, Giri Nagar Housing Society, Giri Nagar, Kadavanthra, Kochi, Kerala 682020</p><br>
<p>Phone: 098473 10044</p>
<body>
    <div class="backgroundimage"></div>
</body>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .backgroundimage{
        background-image: url(https://media.istockphoto.com/photos/woman-hand-holding-icon-customer-support-concept-copy-space-picture-id1141639313?b=1&k=20&m=1141639313&s=170667a&w=0&h=IgZAh25v60C7OkxyVKQWgOWfRRbs_Nfv9hwXpJH2ZRo=);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
</style>


{% endblock %}